bin/
obj/
publish/
publish-ui/
*.user
*.suo
*.userosscache
*.sln.docstates
.vs/

settings.ini
startup.log
input-diagnostics.log
input-diagnostics.old.log

*.zip
*.7z
*.rar
*.log

comments-worker/.dev.vars
comments-worker/.admin-token
comments-worker/wrangler.toml
comments-worker/.wrangler/
comments-worker/node_modules/
